@model Popularity.Models.MoveModel
@{
    ViewData["Title"] = "INFLUENCE";
}

<div class="pop-header">
    <div class="row center-container">
        <h1 style="margin-top:100px; font-size:5.5em; font-family: 'Monoton', cursive;">INFLUENCE</h1>
    </div>
    <div class="row center-container">
        <button id="show-modal-button" style="margin-top:25px; margin-bottom:35px" class="btn btn-lg btn-success">PLAY!</button>
    </div>
</div>
<div class="row center-h-container">
    <div class="col-md-3">
        <h2 class="center-container">Add friends</h2>
        <ul>
            <li>Find your friends using email or name</li>
            <li>Distribute tokens amongst friends however you like</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 class="center-container">Have Fun</h2>
        <ul>
            <li>Collect badges, achievements, and influence of course!</li>
            <li>Who will become the most powerful?</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 class="center-container">Find ways to gain influence</h2>
        <ul>
            <li>There are many different ways to gain influence.</li>
        </ul>
    </div>
</div>



<script>
    $(document).ready(function() {
        $("#show-modal-button").click(function() {
            $('#play-modal').modal('show');
        });

        $("#play-button").click(function() {
            var gameUrl = '@Url.Action("Index", "Game")' + '?username=' + $("#username").val();
            window.location = gameUrl;
        });
    });
</script>